<div id="carouselNakama" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselNakama" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#carouselNakama" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#carouselNakama" data-bs-slide-to="2"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/Images/carousel1.jpg" class="d-block w-100" alt="One Piece"
                 style="height: 500px; object-fit: cover;">
        </div>
        <div class="carousel-item">
            <img src="/Images/carousel2.jpg" class="d-block w-100" alt="Digimon"
                 style="height: 500px; object-fit: cover;">
        </div>
        <div class="carousel-item">
            <img src="/Images/carousel3.jpg" class="d-block w-100" alt="Dragon Ball"
                 style="height: 500px; object-fit: cover;">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselNakama" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselNakama" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>