@model NakamaShop.ViewModels.HomeViewModel

<partial name="_Carousel" />

<div class="text-center my-4">
    <img src="/Images/Logo del sombrero de paja.png" class="mb-3" style="width: 80px;" alt="Logo"/>
    <h2 style="font-family: 'Bangers', cursive; color: #004D99; font-size: 2.5rem;">
        Tesoros de la Semana
    </h2>
    <p style="font-family: 'Bangers', cursive; font-size: 1.3rem; color: #555;">
        ¡Los mejores coleccionables del Gran Viaje!
    </p>
</div>

<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var anime in Model.ProductsOfTheWeek)
        {
            <partial name="_AnimeCard" model="anime" />
        }
    </div>
</div>